/*generall styles*/
$hover: ":hover, &:focus"
$hover-active: ":hover, &:focus, &:active"
$light-gray: #eeeeee
$gray: #f2f2f2
$light-blue: #81b3d2
$brown: #766357
$active: $brown
$brown-gray: #333333
%zero
    margin: 0
    padding: 0
    list-style: none

.visually-hidden
    margin: -1px
    padding: 0
    font-size: 0
    clip: rect(0 0 0 0)
    width: 1px
    height: 1px
    position: absolute
.h1
    font-size: 21px
    font-weight: 700
    line-height: 26px
    text-transform: uppercase
.h2
    color: black
    font-family: "PT Sans"
    font-size: 30px
    font-weight: 700
    text-transform: uppercase
.h3
    font-size: 21px
    font-weight: 700
    line-height: 26px
    text-transform: uppercase
.p
    color: $brown-gray
    font-family: "PT Sans"
    font-size: 14px
    font-weight: 400
    line-height: 24px
    text-transform: uppercase
    
.btn 
    display: inline-block
    text-decoration: none
    font: inherit
    color: white
    border: none
    font-size: 21px
    font-weight: 700
    line-height: 26px
    text-transform: uppercase
    &_brown
        background-color: $brown
        transition: 0.2s
        &:hover, &:focus
            background-color: darken( $brown,5%)
        &:active
            color: rgba( white, .5)
            background-color: darken($brown, 10%)
    &_blue
        background-color: $light-blue
        transition: 0.2s
        &:hover, &:focus
            background-color: darken($light-blue,5%)
        &:active
            color: rgba( white, .5 )
            background-color: darken($light-blue, 10%)
.input__text
    font: inherit
    border: none
    background-color: $gray
    padding: 6px 14px
    margin: 0
html
    background-color: $light-gray

.label__input_checkbox
    margin-left: 40px
    position: relative 
    margin-bottom: 15px
    display: inline-block
    &::before
        content:  url(../svg/checkbox-on.svg)
        width: 2em
        height: 2em
        position: absolute
        top: 0
        left: -40px
.custom-checkbox:checked + .label__input_checkbox::before
    content: url(../svg/checkbox-off.svg)


/*Header*/
.body
    padding: 0
    color: black
    background-color: #fff
    font-size: 14px
    font-weight: 400
    line-height: 26px
    text-transform: uppercase
    font-family: 'PT Sans','arial' ,sans-serif
    max-width: 1200px
    margin: 0 auto
    min-width: 768px

    box-shadow: 0px 0px 10px 0px  
.main__header
    display: flex
    flex-direction: column
    justify-content: center
    min-width: 768px

.main-nav
    @extend %zero
    display: flex
    justify-content: space-between
    min-width: 768px

.nav-item
    width: 20%
    &:first-child
        margin-left: 6%
        width: 24%
    &:last-child
        margin-right: 6%
        width: 24%
    &:nth-child(1n+3)
        text-align: right
    & a
        transition: 0.2s
        font-weight: 700
        color: black
        text-decoration: none
        text-align: center
        display: inline-block
        padding: 
            top: 14px
            bottom: 15px
        &:hover, &:focus
            color: $light-blue
        &:active
            color: black
            opacity: 0.3
.nav-item_acive
    color: $active !important
.item_center
    flex-grow: 1
    position: relative


.logo__img
    top: 0
    position: absolute  
    z-index: 10
    left: calc(50% - 69px)
    width: 138
    height: 70
.intro
    display: flex
    flex-direction: column  
    justify-content: center
    background: url(../svg/white-tirangles.svg) no-repeat, url(../img/background_photo.jpg) no-repeat 0% 29%    
    background-size: 100% , cover
    background-position-y: 100.5% ,  0
    max-width: 1200px
    min-width: 768px
    width: 100%
    position: relative



.image-intro1
    margin-top: 76px
.image-intro2
    margin-top: 11px
.image-intro3
    margin-top: 52px
.image-intro4
    margin-top: 56px
    margin-bottom: 80px













/*index styles*/
.features__h1
    text-align: center
    margin: 0 auto
    margin-top: 61px
    width: 450px
    color: $brown-gray
.features__introduction
    margin: 0 auto
    margin-top: 28px
    text-align: center
    margin-bottom: 52px


.features__list
    display: flex
    flex-wrap: wrap
    margin: 0
    padding: 0
    list-style: none
    justify-content: space-between
    & li:nth-child(1)
        order: 1
    & li:nth-child(2)
        order: 7
    & li:nth-child(3)
        padding-bottom: 60px 
        order: 8
    & li:nth-child(4)
        padding-bottom: 60px
        order: 9
    & li:nth-child(5)
        padding-bottom: 60px
        order: 10
    & li:nth-child(6)
        order: 3
    & li:nth-child(7)
        order: 4
    & li:nth-child(8)
        order: 5
    & li:nth-child(9)
        order: 2
    & li:nth-child(10)
        order: 6




.features__list-item
    max-height: 256px
    color: black
    background-color: $light-gray
    text-align: center
    padding:
        top: 45px
        bottom: 37px
        left: 5%
        right: 5%
    width: 23%
    background-clip: padding-box
    flex-grow: 1
    & .p
        line-height: 21px


.list__ol_lightblue
    color: white
    background-color: $light-blue
    & .list__ol__p
        color: white
.list__ol__p
    line-height: 21px
    margin: 0
    margin-top: 20px
.list__ol__h2
    @extend %zero
    margin-bottom: 1em
    line-height: 21px

.list__img
    overflow: hidden
    height: 256px
    flex-grow: 2
    position: relative
    width: 66%
    transition: 1s
    & img
        transition: 1s
        width: 100%
        position: absolute
        top: 0px
        &:hover, &:focus
            transform: scale(1.04)


.list__ul__h2
    position: relative
    padding: 0
    margin-top: 115px
    margin-bottom: 20px
.list__ul__p
    margin: 0
    margin-bottom: 45px

@for $h2 from 1 through 3
    .ul__icon-#{$h2}::before
        content: url(../svg/icon-#{$h2}.svg)
        max-width: 75px
        max-height: 76px
        position: absolute
        top: -100px
        left: calc(50% - 36px)



/*hotel sytles*/
.hotels
    &-container
        margin: 0 auto
        padding: 35px 72px
        color: white
        display: flex
        justify-content: space-between
    &-form
        padding: 0
        margin: 0
        background-image: url(../img/filter_background.png)
        background-position: center 
        overflow: hidden
        color: $brown-gray
        width: 100%
    &__fieldset
        padding: 0
        margin: 0
        border: none
        width: 33.3%
        &__checkbox
            width: 50%
    &__legend
        font-size: 16px
        font-weight: 700
        line-height: 21px
        text-transform: uppercase
        margin-bottom: 14px
.checkbox-inner
    display: flex
    justify-content: space-between
    width: 40%
        

%track
    z-index: 1
    cursor: pointer
    animate: 0.2s
    background: #fff
    height: 2px
    z-index: 0
    &:focus
        outline: none
%thumb
    background-image: url(../svg/filter-button.svg)
    background-position: center
    background-repeat: no-repeat
    height: 30px
    width: 30px
    cursor: pointer
    margin-top: 0px
    z-index: 1
    transition: 0.2s
    &:hover, &:focus, &:active
        transform: scale(1.1)
.form        
    background-color: #eeeeee
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    flex-direction: column
    background-color: transparent
    font-family: "PT Sans"
    font-size: 14px
    font-weight: 400
    line-height: 24px
    text-transform: uppercase
    &__output
        border: 2px solid #ffffff;
        width: 100%
        color: #000
        text-align: center
        color: white
        &_1
            border-top-left-radius: 5px
            border-bottom-left-radius: 5px
            border-right: none
            border
        &_2 
            border-left: none
            border-top-right-radius: 5px
            border-bottom-right-radius: 5px
        &_inner 
            display: flex
            justify-content: space-between
            margin-bottom: 22px
            width: 100%
    &__submit
        font: inherit
        border: 2px solid #ffffff
        background-color: transparent
        align-self: center
        padding: 10px 33px
        color: white
        border-radius: 2px
        text-transform: uppercase
        transition: 0.5s
        &:hover, &:focus, &:active
            background-color: #fff
            color: #000

    /* Special styling for WebKit/Blink */
    &__range
        -webkit-appearance: none
        margin: 0
        width: 100%
        height: 2px
        position: absolute
        &_inner
            display: flex
            justify-content: space-between
            position: relative
            flex-direction: row-reverse
            margin-bottom: 34px

            
        &_2
            width: 70%

        &::-webkit-slider-runnable-track 
            @extend %track
        &::-webkit-slider-thumb
            @extend %thumb
            -webkit-appearance: none
        &::-moz-range-track
            @extend %track
        &::-moz-range-thumb
            z-index: 10
            background-image: url(filter-button.svg)
            background-position: center
            height: 30px
            width: 30px
            background: #ffffff
            cursor: pointer
        &::-ms-track 
            width: 100%
            cursor: pointer
            animate: 0.2s
            background: transparent
            border-color: transparent
            border-width: 30px 0
            color: transparent
        &::-ms-fill-lower 
            background: #fff
            height: 2px;
            z-index: 1
        &::-ms-fill-upper 
            background: #fff
            height: 2px;
            z-index: 1
        &::-ms-thumb 
            background-image: url(filter-button.svg)
            background-position: center
            height: 30px
            width: 30px
            cursor: pointer
        &:focus::-ms-fill-lower 
            background: #fff
            height: 2px
        &:focus::-ms-fill-upper 
            background: #fff
            height: 2px

.hotel_container
    padding: 34px 72px
.found
    display: flex
    justify-content: space-between
    align-items: center
    &__div
        display: flex
    &__b
        margin-top: 5px
        font-size: 12px
        font-weight: 400
        line-height: 18px
        // font-size: 21px
        // font-weight: 700
        // line-height: 26px
    &__h2
        font-size: 21px
        font-weight: 700
        line-height: 26px
        display: flex
        list-style: none    
    &__sort
        display: flex
        @extend %zero
        margin-left: 40px
        &__item
            margin-right: 33px
            &__a
                box-sizing: border-box
                font-size: 12px
                font-weight: 400
                line-height: 
                border-bottom: 1px dotted $light-blue
                color: rgba(black, 0.3)
                text-decoration: none
            &__active
                color: $light-blue !important
        &-size
            @extend %zero
            width: 34px
            min-height: 8px
            display: flex
            justify-content: space-between
            text-align: center
.arrows
    border: 
        left: 5.5px solid transparent
        right: 5.5px solid transparent
    display: block
    &_top
        border:    
            top: 5px solid transparent
            bottom: 10px solid #cacaca
        &#{$hover}
            border:
                bottom: 10px solid $light-blue
        &:active
            border:
                bottom: 10px solid black
    &_bottom
        border:    
            top: 10px solid #cacaca
            bottom: 5px solid transparent
        
        &#{$hover}, &_active
            border:
                top: 10px solid $light-blue
        &:active
            border:
                top: 10px solid black
.arrows_bottom_acitve
    border-top: 10px solid $light-blue 
    
.found-list__ul
    display: flex
    flex-direction: column
    list-style: none
.hotels-item
    display: flex   
    justify-content: space-between
    &__h3
        @extend %zero
    &__img
        display: block
        margin-right: 30px
    &__p
        @extend %zero
        line-height: 21px
        margin: 7px 40px 7px 0px
        max-width: 100px
        display: inline-block
    &__btn
        margin-right: 3px
        font-size: 14px
        font-weight: 700
        line-height: 21px
        padding: 4px 15px


.hotel-info
    display: flex
    justify-content: space-between
    width: 424px
    align-items: center
    margin-bottom: 30px


.star-rating
    @extend %zero
    display: flex
    position: relative
    &__item
        appearance: none
        display: inline-block
        margin: 0
    & li
        @extend %zero

.rating__text
    margin-top: 70px
    display: inline-block
    background-color: #f2f2f2
    padding: 2px 15px
    color: #666
@for $star from 1 through 5
    .star-rating li:nth-child(#{$star}) .star-rating__item,  .star-rating li:nth-child(#{$star})
        width: 18px * $star
        z-index: 10-$star
        height: 18px 
        position: absolute
    .star-rating li:nth-child(#{$star}) .star-rating__item:checked,
    .star-rating li:nth-child(#{$star}) .star-rating__item:focus,
    .star-rating li:nth-child(#{$star}) .star-rating__item:hover
        background-image: url(../svg/star.svg)
        background-repeat: repeat
        
        
/*Footer-sytles*/
.booking
    position: relative
    margin: 0 auto
    padding: 0
    text-align: center
    margin: 0 auto
    display: flex
    justify-content: center
    flex-direction: column
    width: 570px
    &__map
        margin-block-start: 0em
        margin-block-end: 0em
        margin-inline-start: 0px
        margin-inline-end: 0px
    &__btn
        color: white
        font-size: 21px
        font-weight: 700
        line-height: 26px
        text-transform: uppercase
        display: inline-block
        padding: 30px 140px
        background-color: $brown
        align-self: center
        &__submit
            align-self: stretch
            width: 100%
            margin-top: 54px
            padding: 16px 0px


    &__p

        margin:
            bottom: 46px
            left: 67px
            right: 67px
            top: 5px
        text-align: center
        align-self: center
    &__h2
        margin-top: 55px
    &__popup
        z-index: 10
        position: absolute
        width: 460px
        background-color: #fff
        box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2)
        top: 100%
        padding: 55px
    &__form
        font-size: 14px
        font-weight: 700
        line-height: 26px
        text-transform: uppercase
        display: flex
        flex-direction: column
        justify-content: space-between
    &__span
        display: inline-block
        padding:
            top: 6px
            bottom: 6px
    &__input__text
        width: 70%
.form-signs
    font-size: 16px
    width: 38px
    height: 38px
    background-color: $gray
    display: inline-block
    font: inherit
    color: #a8a8a8
    &:hover, &:focus
        color: black
    &:active
        color: $light-blue
.form__text-number
    background-color: $gray
    width: 38px
    height: 38px
    padding: 0
    text-align: center
.form__laber__date
    display: block
    margin-bottom:  28px

.booking_inner
    display: flex
    justify-content: space-between
    flex-wrap: nowrap
.span_sign
    margin-right: 40px
    display: inline-block

#booking__popup
    visibility: hidden
    transition: 1s
    opacity: 0
    &:hover, &:focus

#booking__popup:target
    visibility: visible
    opacity: 1
.main-footer
    display: flex
    justify-content: space-beetween
    padding:  36px 72px   
    align-items: center
.footer__hashtag
        font-size: 21px
        font-weight: 700
        line-height: 26px
        text-transform: uppercase
.social-buttons
    display: flex
    justify-content: space-between
    width: 150px
    margin: 0
    padding: 0
    &__item
        transition: 0.2
        width: 48px
        height: 48px
        font-size: 0
        background-color: $light-blue
        background-position: center
        background-repeat: no-repeat
        margin-right: 6px
        &:active
            opacity: 0.3
@for $btn from 1 through 3
    .social-buttons_tiem-#{$btn}
        background-image: url(../svg/social-#{$btn}.svg)
.footer__container
    display: block
    width: 33%
    display: flex
    justify-content: center
    align-items: center
.copyright  
    font-size: 14px
    font-weight: 400
    line-height: 26px
    text-transform: uppercase 
    position: relative
    display: flex
.copyright__a
    display: block
    position: relative
    width: 50px
    height: 50px
    margin-left: 10px
    overflow: hidden
    & img
        width: 50px
        position: relative
        transition: 0.5s
        &:hover, &:focus
            transform: scale(1.2)


       
/*media*/

@media (max-width: 768px) 
    .features__list-item:not(.list__ul)
        padding-bottom: 16px 
    .list__ul
        padding-bottom: 29px
    .list__ol:nth-child(1n+3)
        padding-bottom: 40px !important
    .list__img img
        top: 0
    .hotels-container,.hotel_container
        padding:  35px 46px
    .checkbox-inner
        width: 50%