/*generall styles */
.main-nav, .list__ol__h2, .found__sort, .found__sort-size, .hotels-item__h3, .hotels-item__p, .star-rating, .star-rating li {
  margin: 0;
  padding: 0;
  list-style: none; }

.visually-hidden {
  margin: -1px;
  padding: 0;
  font-size: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  position: absolute; }

.h1 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }

.h2 {
  color: black;
  font-family: "PT Sans";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase; }

.h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }

.p {
  color: #333333;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase; }

.btn {
  display: inline-block;
  text-decoration: none;
  font: inherit;
  color: white;
  border: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }
  .btn_brown {
    background-color: #766357;
    transition: 0.2s; }
    .btn_brown:hover, .btn_brown:focus {
      background-color: #67574c; }
    .btn_brown:active {
      color: rgba(255, 255, 255, 0.5);
      background-color: #594a41; }
  .btn_blue {
    background-color: #81b3d2;
    transition: 0.2s; }
    .btn_blue:hover, .btn_blue:focus {
      background-color: #6ea8cb; }
    .btn_blue:active {
      color: rgba(255, 255, 255, 0.5);
      background-color: #5b9cc5; }

.input__text {
  font: inherit;
  border: none;
  background-color: #f2f2f2;
  padding: 6px 14px;
  margin: 0; }

html {
  background-color: #eeeeee; }

.label__input_checkbox {
  margin-left: 40px;
  position: relative;
  margin-bottom: 15px;
  display: inline-block; }
  .label__input_checkbox::before {
    content: url(../svg/checkbox-on.svg);
    width: 2em;
    height: 2em;
    position: absolute;
    top: 0;
    left: -40px; }

.custom-checkbox:checked + .label__input_checkbox::before {
  content: url(../svg/checkbox-off.svg); }

.custom-checkbox:disable + .label__input_checkbox {
  opacity: 0.3; }

/*Header */
.body {
  padding: 0;
  color: black;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  font-family: "PT Sans", "arial", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  min-width: 768px;
  box-shadow: 0px 0px 10px 0px; }

.main__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 768px; }

.main-nav {
  display: flex;
  justify-content: space-between;
  min-width: 768px; }

.nav-item {
  width: 20%; }
  .nav-item:first-child {
    margin-left: 6%;
    width: 24%; }
  .nav-item:last-child {
    margin-right: 6%;
    width: 24%; }
  .nav-item:nth-child(1n+3) {
    text-align: right; }
  .nav-item a {
    transition: 0.2s;
    font-weight: 700;
    color: black;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 15px; }
    .nav-item a:hover, .nav-item a:focus {
      color: #81b3d2; }
    .nav-item a:active {
      color: black;
      opacity: 0.3; }

.nav-item_acive {
  color: #766357 !important; }

.item_center {
  flex-grow: 1;
  position: relative; }

.logo__img {
  top: 0;
  position: absolute;
  z-index: 10;
  left: calc(50% - 69px);
  width: 138;
  height: 70; }

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../svg/white-tirangles.svg) no-repeat, url(../img/background_photo.jpg) no-repeat 0% 29%;
  background-size: 100%, cover;
  background-position-y: 100.5%, 0;
  max-width: 1200px;
  min-width: 768px;
  width: 100%;
  position: relative; }

.image-intro1 {
  margin-top: 76px; }

.image-intro2 {
  margin-top: 11px; }

.image-intro3 {
  margin-top: 52px; }

.image-intro4 {
  margin-top: 56px;
  margin-bottom: 80px; }

/*index styles */
.features__h1 {
  text-align: center;
  margin: 0 auto;
  margin-top: 61px;
  width: 450px;
  color: #333333; }

.features__introduction {
  margin: 0 auto;
  margin-top: 28px;
  text-align: center;
  margin-bottom: 52px; }

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between; }
  .features__list li:nth-child(1) {
    order: 1; }
  .features__list li:nth-child(2) {
    order: 7; }
  .features__list li:nth-child(3) {
    padding-bottom: 60px;
    order: 8; }
  .features__list li:nth-child(4) {
    padding-bottom: 60px;
    order: 9; }
  .features__list li:nth-child(5) {
    padding-bottom: 60px;
    order: 10; }
  .features__list li:nth-child(6) {
    order: 3; }
  .features__list li:nth-child(7) {
    order: 4; }
  .features__list li:nth-child(8) {
    order: 5; }
  .features__list li:nth-child(9) {
    order: 2; }
  .features__list li:nth-child(10) {
    order: 6; }

.features__list-item {
  max-height: 256px;
  color: black;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 37px;
  padding-left: 5%;
  padding-right: 5%;
  width: 23%;
  background-clip: padding-box;
  flex-grow: 1; }
  .features__list-item .p {
    line-height: 21px; }

.list__ol_lightblue {
  color: white;
  background-color: #81b3d2; }
  .list__ol_lightblue .list__ol__p {
    color: white; }

.list__ol__p {
  line-height: 21px;
  margin: 0;
  margin-top: 20px; }

.list__ol__h2 {
  margin-bottom: 1em;
  line-height: 21px; }

.list__img {
  overflow: hidden;
  height: 256px;
  flex-grow: 2;
  position: relative;
  width: 66%;
  transition: 1s; }
  .list__img img {
    transition: 1s;
    width: 100%;
    position: absolute;
    top: 0px; }
    .list__img img:hover, .list__img img:focus {
      transform: scale(1.04); }

.list__ul__h2 {
  position: relative;
  padding: 0;
  margin-top: 115px;
  margin-bottom: 20px; }

.list__ul__p {
  margin: 0;
  margin-bottom: 45px; }

.ul__icon-1::before {
  content: url(../svg/icon-1.svg);
  max-width: 75px;
  max-height: 76px;
  position: absolute;
  top: -100px;
  left: calc(50% - 36px); }

.ul__icon-2::before {
  content: url(../svg/icon-2.svg);
  max-width: 75px;
  max-height: 76px;
  position: absolute;
  top: -100px;
  left: calc(50% - 36px); }

.ul__icon-3::before {
  content: url(../svg/icon-3.svg);
  max-width: 75px;
  max-height: 76px;
  position: absolute;
  top: -100px;
  left: calc(50% - 36px); }

/*hotel sytles */
.hotels-container {
  margin: 0 auto;
  padding: 35px 72px;
  color: white;
  display: flex;
  justify-content: space-between; }
.hotels-form {
  padding: 0;
  margin: 0;
  background-image: url(../img/filter_background.png);
  background-position: center;
  overflow: hidden;
  color: #333333;
  width: 100%; }
.hotels__fieldset {
  padding: 0;
  margin: 0;
  border: none;
  width: 33.3%; }
  .hotels__fieldset__checkbox {
    width: 50%; }
.hotels__legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 14px; }

.checkbox-inner {
  display: flex;
  justify-content: space-between;
  width: 40%; }

.form__range::-webkit-slider-runnable-track, .form__range::-moz-range-track {
  z-index: 1;
  cursor: pointer;
  animate: 0.2s;
  background: #fff;
  height: 2px;
  z-index: 0; }
  .form__range:focus::-webkit-slider-runnable-track, .form__range:focus::-moz-range-track {
    outline: none; }

.form__range::-webkit-slider-thumb {
  background-image: url(../svg/filter-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-top: 0px;
  z-index: 1;
  transition: 0.2s; }
  .form__range:hover::-webkit-slider-thumb, .form__range:focus::-webkit-slider-thumb, .form__range:active::-webkit-slider-thumb {
    transform: scale(1.1); }

.form {
  background-color: #eeeeee;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: column;
  background-color: transparent;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  /* Special styling for WebKit/Blink */ }
  .form__output {
    border: 2px solid #ffffff;
    width: 100%;
    color: #000;
    text-align: center;
    color: white; }
    .form__output_1 {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: none; }
    .form__output_2 {
      border-left: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
    .form__output_inner {
      display: flex;
      justify-content: space-between;
      margin-bottom: 22px;
      width: 100%; }
  .form__submit {
    font: inherit;
    border: 2px solid #ffffff;
    background-color: transparent;
    align-self: center;
    padding: 10px 33px;
    color: white;
    border-radius: 2px;
    text-transform: uppercase;
    transition: 0.5s; }
    .form__submit:hover, .form__submit:focus, .form__submit:active {
      background-color: #fff;
      color: #000; }
  .form__range {
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
    height: 2px;
    position: absolute; }
    .form__range_inner {
      display: flex;
      justify-content: space-between;
      position: relative;
      flex-direction: row-reverse;
      margin-bottom: 34px; }
    .form__range_2 {
      width: 70%; }
    .form__range::-webkit-slider-thumb {
      -webkit-appearance: none; }
    .form__range::-moz-range-thumb {
      z-index: 10;
      background-image: url(filter-button.svg);
      background-position: center;
      height: 30px;
      width: 30px;
      background: #ffffff;
      cursor: pointer; }
    .form__range::-ms-track {
      width: 100%;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      border-width: 30px 0;
      color: transparent; }
    .form__range::-ms-fill-lower {
      background: #fff;
      height: 2px;
      z-index: 1; }
    .form__range::-ms-fill-upper {
      background: #fff;
      height: 2px;
      z-index: 1; }
    .form__range::-ms-thumb {
      background-image: url(filter-button.svg);
      background-position: center;
      height: 30px;
      width: 30px;
      cursor: pointer; }
    .form__range:focus::-ms-fill-lower {
      background: #fff;
      height: 2px; }
    .form__range:focus::-ms-fill-upper {
      background: #fff;
      height: 2px; }

.hotel_container {
  padding: 34px 72px; }

.found {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .found__div {
    display: flex; }
  .found__b {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; }
  .found__h2 {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    display: flex;
    list-style: none; }
  .found__sort {
    display: flex;
    margin-left: 40px; }
    .found__sort__item {
      margin-right: 33px; }
      .found__sort__item__a {
        box-sizing: border-box;
        font-size: 12px;
        font-weight: 400;
        border-bottom: 1px dotted #81b3d2;
        color: rgba(0, 0, 0, 0.3);
        text-decoration: none; }
      .found__sort__item__active {
        color: #81b3d2 !important;
        border-bottom: none; }
    .found__sort-size {
      width: 34px;
      min-height: 8px;
      display: flex;
      justify-content: space-between;
      text-align: center; }

.arrows {
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  display: block; }
  .arrows_top {
    border-top: 5px solid transparent;
    border-bottom: 10px solid #cacaca; }
    .arrows_top:hover, .arrows_top:focus {
      border-bottom: 10px solid #81b3d2; }
    .arrows_top:active {
      border-bottom: 10px solid black; }
  .arrows_bottom {
    border-top: 10px solid #cacaca;
    border-bottom: 5px solid transparent; }
    .arrows_bottom:hover, .arrows_bottom:focus, .arrows_bottom_active {
      border-top: 10px solid #81b3d2; }
    .arrows_bottom:active {
      border-top: 10px solid black; }

.arrows_bottom_acitve {
  border-top: 10px solid #81b3d2; }

.found-list__ul {
  display: flex;
  flex-direction: column;
  list-style: none; }

.hotels-item {
  display: flex;
  justify-content: space-between; }
  .hotels-item__img {
    display: block;
    margin-right: 30px; }
  .hotels-item__p {
    line-height: 21px;
    margin: 7px 40px 7px 0px;
    max-width: 100px;
    display: inline-block; }
  .hotels-item__btn {
    margin-right: 3px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    padding: 4px 15px; }

.hotel-info {
  display: flex;
  justify-content: space-between;
  width: 424px;
  align-items: center;
  margin-bottom: 30px; }

.star-rating {
  margin-top: 20px;
  display: flex;
  position: relative;
  height: 18px; }
  .star-rating::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.5;
    height: 18px;
    width: 90px;
    background-image: url(../svg/star.svg); }
  .star-rating__item {
    appearance: none;
    -moz-appearance: none;
    display: inline-block;
    margin: 0; }

.rating__text {
  margin-top: 40px;
  display: inline-block;
  background-color: #f2f2f2;
  padding: 2px 15px;
  color: #666; }

.star-rating li:nth-child(1) .star-rating__item, .star-rating li:nth-child(1) {
  width: 18px;
  z-index: 9;
  height: 18px;
  position: absolute; }

.star-rating li:nth-child(1) .star-rating__item:checked,
.star-rating li:nth-child(1) .star-rating__item:focus,
.star-rating li:nth-child(1) .star-rating__item:hover {
  background-image: url(../svg/star.svg);
  background-repeat: repeat; }

.star-rating li:nth-child(2) .star-rating__item, .star-rating li:nth-child(2) {
  width: 36px;
  z-index: 8;
  height: 18px;
  position: absolute; }

.star-rating li:nth-child(2) .star-rating__item:checked,
.star-rating li:nth-child(2) .star-rating__item:focus,
.star-rating li:nth-child(2) .star-rating__item:hover {
  background-image: url(../svg/star.svg);
  background-repeat: repeat; }

.star-rating li:nth-child(3) .star-rating__item, .star-rating li:nth-child(3) {
  width: 54px;
  z-index: 7;
  height: 18px;
  position: absolute; }

.star-rating li:nth-child(3) .star-rating__item:checked,
.star-rating li:nth-child(3) .star-rating__item:focus,
.star-rating li:nth-child(3) .star-rating__item:hover {
  background-image: url(../svg/star.svg);
  background-repeat: repeat; }

.star-rating li:nth-child(4) .star-rating__item, .star-rating li:nth-child(4) {
  width: 72px;
  z-index: 6;
  height: 18px;
  position: absolute; }

.star-rating li:nth-child(4) .star-rating__item:checked,
.star-rating li:nth-child(4) .star-rating__item:focus,
.star-rating li:nth-child(4) .star-rating__item:hover {
  background-image: url(../svg/star.svg);
  background-repeat: repeat; }

.star-rating li:nth-child(5) .star-rating__item, .star-rating li:nth-child(5) {
  width: 90px;
  z-index: 5;
  height: 18px;
  position: absolute; }

.star-rating li:nth-child(5) .star-rating__item:checked,
.star-rating li:nth-child(5) .star-rating__item:focus,
.star-rating li:nth-child(5) .star-rating__item:hover {
  background-image: url(../svg/star.svg);
  background-repeat: repeat; }

/*Footer-sytles */
.booking {
  position: relative;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 570px; }
  .booking__map {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; }
  .booking__btn {
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    display: inline-block;
    padding: 30px 140px;
    background-color: #766357;
    align-self: center; }
    .booking__btn__submit {
      align-self: stretch;
      width: 100%;
      margin-top: 54px;
      padding: 16px 0px; }
  .booking__p {
    margin-bottom: 46px;
    margin-left: 67px;
    margin-right: 67px;
    margin-top: 5px;
    text-align: center;
    align-self: center; }
  .booking__h2 {
    margin-top: 55px; }
  .booking__popup {
    z-index: 10;
    position: absolute;
    width: 460px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    top: 100%;
    padding: 55px; }
  .booking__form {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .booking__span {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px; }
  .booking__input__text {
    width: 70%;
    color: #000;
    position: relative; }
    .booking__input__text::after {
      content: url(../svg/calendar.svg);
      position: absolute;
      right: 3%;
      top: 5px;
      width: 22px;
      height: 22px; }

.form-signs {
  font-size: 16px;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  display: inline-block;
  font: inherit;
  color: #a8a8a8; }
  .form-signs:hover, .form-signs:focus {
    color: black; }
  .form-signs:active {
    color: #81b3d2; }

.form__text-number {
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  padding: 0;
  text-align: center; }

.form__laber__date {
  display: block;
  margin-bottom: 28px; }

.booking_inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; }

.span_sign {
  margin-right: 40px;
  display: inline-block; }

#booking__popup {
  visibility: hidden;
  transition: 1s;
  opacity: 0; }

#booking__popup:target {
  visibility: visible;
  opacity: 1; }

.main-footer {
  display: flex;
  justify-content: space-beetween;
  padding: 36px 72px;
  align-items: center; }

.footer__hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }

.social-buttons {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0;
  padding: 0; }
  .social-buttons__item {
    transition: 0.2;
    width: 48px;
    height: 48px;
    font-size: 0;
    background-color: #81b3d2;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 6px; }
    .social-buttons__item:active {
      opacity: 0.3; }

.social-buttons_tiem-1 {
  background-image: url(../svg/social-1.svg); }

.social-buttons_tiem-2 {
  background-image: url(../svg/social-2.svg); }

.social-buttons_tiem-3 {
  background-image: url(../svg/social-3.svg); }

.footer__container {
  display: block;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center; }

.copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  position: relative;
  display: flex; }

.copyright__a {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  overflow: hidden; }
  .copyright__a img {
    width: 50px;
    position: relative;
    transition: 0.5s; }
    .copyright__a img:hover, .copyright__a img:focus {
      transform: scale(1.2); }

/*media */
@media (max-width: 768px) {
  .features__list-item:not(.list__ul) {
    padding-bottom: 16px; }

  .list__ul {
    padding-bottom: 29px; }

  .list__ol:nth-child(1n+3) {
    padding-bottom: 40px !important; }

  .list__img img {
    top: 0; }

  .hotels-container, .hotel_container {
    padding: 35px 46px; }

  .checkbox-inner {
    width: 50%; } }

/*# sourceMappingURL=style.css.map */
